@page "/markdown-editor"
@layout EditorLayout
<Editor @bind-Value="BlogText" Class="h-100">
    <ToolbarContent>
        <ToolbarButtonGroup>
            <Button OnClick="@(() => BlogText = "__" + BlogText + "__")">Bold</Button>
            <Button OnClick="@(() => BlogText = "_" + BlogText + "_")">Italic</Button>
            <Button OnClick="@(() => BlogText = "_" + BlogText + "_")">Underline</Button>
        </ToolbarButtonGroup>
        <ToolbarButtonGroup>
            <Button OnClick="@(() => BlogText = "# " + BlogText)">H1</Button>
            <Button OnClick="@(() => BlogText = "## " + BlogText)">H2</Button>
            <Button OnClick="@(() => BlogText = "### " + BlogText)">H3</Button>
        </ToolbarButtonGroup>
    </ToolbarContent>
</Editor>

@code 
{
    public string BlogText { get; set; }
}