@namespace Blazor.Experiments.Markdown

@inherits CustomComponentBase

@if (ShowPreview)
{
    <div class="row @Class p-2" style="@Style">
        @if (ToolbarContent != null)
        {
            <div class="col-12">
                <div class="btn-toolbar mb-2">
                    @ToolbarContent
                </div>
            </div>
        }
        <div class="col-sm-12 col-md-6">
            @TextArea
        </div>
        <div class="col-sm-12 col-md-6">
            <PreviewMarkdown Class="@PreviewClassName" Style="@PreviewStyles" Content="@Value" />
        </div>
    </div>
}
else
{
    <div class="row @Class p-2" style="@Style">
        @if (ToolbarContent != null)
        {
            <div class="col-12">
                <div class="btn-toolbar mb-2">
                    @ToolbarContent
                </div>
            </div>
        }
        <div class="col-12">
            @TextArea
        </div>
    </div>
}

@code 
{
    private RenderFragment TextArea => @<textarea @oninput = "@HandleInput" 
                                                  class="w-100 @TextAreaClass @_fieldCssClasses" 
                                                  style="min-height:83vh;max-height:83vh;@TextAreaStyles">
                                                        @(Value ?? "")
                                        </textarea>;
}
