@namespace Blazor.Experiments.Components

@inherits CustomComponentBase

<button @attributes="@UserAttributes"
        @onclick=OnClick 
        type="@ButtonType.ToDescriptionString()" 
        class="@ClassName" 
        style="@Style"
        disabled="@Disabled">
    @if (!string.IsNullOrEmpty(StartIcon))
    {
        @((MarkupString)StartIcon)
    }
    @ChildContent
    @if (!string.IsNullOrEmpty(EndIcon))
    {
        @((MarkupString)EndIcon)
    }
</button>