@namespace Blazor.Experiments.Components

@using Microsoft.AspNetCore.Components.Routing
@inherits CustomComponentBase
<li @attributes="UserAttributes" class="@ClassName" style="@Style">
    <NavLink class="nav-link" href="@Href" Match="@Match">
        @if (ChildContent == null)
        {
            <span class="nav-link-icon d-md-none d-lg-inline-block">
                @NavLinkIcon
            </span>
            <span class="nav-link-title">@NavLinkTitle</span>
        }
        else
        {
            @ChildContent
        }
    </NavLink>
</li>

@code {
    protected string ClassName => new CssBuilder().AddClass("nav-item")
                                                  .AddClass(Class)
                                                  .ToString();

    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;

    [Parameter]
    public string NavLinkTitle { get; set; }

    [Parameter]
    public string NavLinkIcon { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}